.Table{
    width: 100%;
}
.Table thead{
    text-align: center;
    color: #4BBEC5;
    font-weight: bold;
}
.Table{
    border-collapse: collapse;
}
.Table th, .Table td {
    border: 2px solid #d2d2d2;
    text-align: center;
}

.Table tr > td:first-of-type{
    border-left: none;
}
.Table tr > td:last-of-type{
    border-right: none;
}
.Table thead td{
    border-top: none;
}
.Table td{
    padding: 7px 0;
    font-size: 0.9em;
    min-width: calc(100% / 5);
}
.Table tbody > tr:last-of-type > td{
    border-bottom: none;
}